<div class="container mt-5">
  <div class="text-center mb-4">
    <h2>Ubicanos</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <img src="assets/imagenes/planta.png" alt="Imagen Ubicanos" class="img-fluid mb-3">
      <p>Salida Arequipa kilómetro 7.5 referencia (paradero 14) línea 22 o 55 pasado la Upeu, Juliaca, Peru</p>
    </div>
  </div>
</div>
<!-- Sección de Información de Contacto -->
<!-- Sección de Información de Contacto -->
<div class="row">
  <div class="col-md-12">
    <h3 class="text-center mb-4">Información de Contacto</h3>
    <div class="row">
      <div class="col-md-3 text-center">
        <i class="fas fa-phone-alt fa-2x"></i>
        <h4>Teléfonos</h4>
        <ul class="list-unstyled">
          <li><i class="fas fa-mobile-alt"></i> 958 002 886/ 939 539 472</li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <i class="fas fa-map-marker-alt fa-2x"></i>
        <h4>Dirección</h4>
        <ul class="list-unstyled">
          <li>AV. San Juan S/N Km. 30.5 Panamerica Norte</li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <i class="fas fa-envelope fa-2x"></i>
        <h4>Correo</h4>
        <ul class="list-unstyled">
          <li>rosmeripeti@gmail.com</li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <i class="fas fa-clock fa-2x"></i>
        <h4>Horarios</h4>
        <ul class="list-unstyled">
          <li>Lunes-Viernes de 06:00 a 16:00</li>
          <li>Sábado de 06:00 a 13:00</li>
        </ul>
      </div>
    </div>
  </div>
</div>
