<h3 class="text-center">Contáctanos</h3>

<div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <p class="h5">Teléfonos de Contacto</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4 text-center">
    <p class="display-4">
      <i class="fas fa-phone-alt text-primary"></i> +51 958 002 886
    </p>
    <p>Señora Yolanda</p>
  </div>
  <div class="col-md-4 text-center">
    <p class="display-4">
      <i class="fas fa-phone-alt text-primary"></i> +51 939 539 472
    </p>
    <p>Señor Rosendo</p>
  </div>
  <div class="col-md-4 text-center">
    <p class="display-4">
      <i class="fas fa-phone-alt text-primary"></i> +51 988 285 366
    </p>
    <p>Señor Erick </p>
  </div>
</div>
