<!-- ladrillos-para-muro.component.html -->
<h3>Ladrillos para Muro</h3>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="kingKong">
        <a routerLink="/productos/ladrillos-para-muro/king-kong">King Kong</a>
      </label>
      <a routerLink="/productos/ladrillos-para-muro/king-kong">
        <img class="img-fluid img-hover"  src="assets/imagenes/kingkong.png" class="img-fluid" alt="King Kong 18 Huecos"style="height: 200px;">
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="pandereta">
        <a routerLink="/productos/ladrillos-para-muro/pandereta">Pandereta</a>
      </label>
      <a routerLink="/productos/ladrillos-para-muro/pandereta">
        <img src="assets/imagenes/pandereta.png" class="img-fluid" alt="Pandereta Acanalada" style="height: 200px;">
      </a>
    </div>
  </div>
</div>



