<div class="brick">
  <div class="container text-center">
    <div class="text-center mb-4">
      <h2>Nuestros Productos</h2>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="brick__wrapper">
          <img class="img-hover brick__wrapper-img" src="assets/imagenes/kingkong.png" alt="Ladrillos para Muro"
            [routerLink]="['/productos/ladrillos-para-muro']">
          <div class="brick__wrapper-group">
            <h4 class="brick__wrapper-subtitle">Ladrillosa de Muro</h4>
            <button [routerLink]="['/productos/ladrillos-para-muro']" class="btn  btn-sm brick__wrapper-button">Ver
              más</button>
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="brick__wrapper">
          <img class=" img-hover brick__wrapper-img" src="assets/imagenes/techo12.png" alt="Ladrillos para Techo"
            [routerLink]="['/productos/ladrillos-para-techo']">
            <h4 class="brick__wrapper-subtitle">Ladrillosa de Techo</h4>
      
            <button [routerLink]="['/productos/ladrillos-para-techo']" class="btn  btn-sm brick__wrapper-button">Ladrillos para Techo</button>
        
        </div>
      </div>
    </div>
  </div>
</div>