
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center mb-4">
      <h2>Nosotros</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Historia</h2>
      <p>
        Ladrillos R&Y Chaullani se fundo  en junio del 2007 por los hermanos Suaquita Barriento. como producto a la innovación en el sector ladrillero de la región de Puno,  provincia de San Román Juliaca. Comumente durante décadas los ladrillos cerámicos  fueron hechos a mano conocidos como ladrillos “ artesanales” pero la visión era de crear ladrillos de manera mecanizada optimizando y mejorando la calidad de los ladrillos.
        Actualmente  se comercializa los ladrillos cerámicos de arcilla cocida que son utilizados  en la construcción en general. El proceso parte de la planta de producción con una extensión de 3 hectareas siendo una de las 3 plantas mas grandes localizadas en la ciudad de Juliaca. Con tecnología brasilera y optimizada con el sistema Boliviano en cuanto a cocción y quemado.
      </p>
    </div>
    <div class="col-md-6">
      <img src="assets/imagenes/horno.jpg" alt="Imagen" class="img-fluid">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <h2>Misión</h2>
      <p>
        Consolidarnos como lideres en el sector ladrillero de la región Puno, produciendo los ladrillos de calidad brindando un producto resistente al clima y dureza en su fabricación, otorgando al cliente un producto confiable y seguro en su uso en la construcción.      </p>
    </div>
    <div class="col-md-4">
      <h2>Visión</h2>
      <p>
        Hacer  de nuestra industria  una empresa ladrillera  confiable en la que los clientes adquieran un producto resistente en la construcción de sus hogares u otros múltiples usos y con la atención rápida y segura.      </p>
    </div>
    <div class="col-md-4">
      <h2>Compromiso</h2>
      <p>
        El compromiso de la planta “ladrillera R&Y Chaullani”, es aportar al desarrollo de nuestra ciudad de Juliaca y la región de PUNO,  brindando ladrillos resistentes  que son elaborados  por nuestras instalaciones  y trabajadores adecuándonos a la alternancia panorama político social y económico de la ciudad de JULIACA.      </p>
    </div>
  </div>
</div>

