<div class="container mt-5">
  <div class="text-center mb-4">
    <h2>Te ofrecemos</h2>
    <h3>Los Mejores Productos​</h3>
    <p>Con tecnología brasilera y optimizada con el sistema Boliviano en cuanto a cocción y quemado.</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid img-hover" src="assets/imagenes/kingkong.png" alt="Ladrillos para Muro" [routerLink]="['/productos/ladrillos-para-muro']" style="height: 200px;">
      <h5>
        <a [routerLink]="['/productos/ladrillos-para-muro']"><strong>Ladrillos para Muro</strong></a>
      </h5>
    </div>
    <div class="col-md-6">
      <img class="img-fluid img-hover" src="assets/imagenes/techo10.png" alt="Ladrillos para Techo" [routerLink]="['/productos/ladrillos-para-techo']" style="height: 200px;">
      <h5>
        <a [routerLink]="['/productos/ladrillos-para-techo']"><strong>Ladrillos para Techo</strong></a>
      </h5>
    </div>
  </div>
</div>
